<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>

<body>
  <style>
    /* CSS for Reset Password page */
    /* CSS for Reset Password page */
    body {
      font-family: Arial, sans-serif;
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(64, 64, 214, 1) 45%, rgba(7, 188, 224, 1) 100%);
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 400px;
      margin: 100px auto;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
    }

    form {
      margin-top: 20px;
    }

    input[type="text"],
    input[type="password"],
    button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 2.8px;
      box-sizing: border-box;
      transition: border-radius 0.3s ease;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
      border-radius: 18px;
    }

    p {
      margin-top: 20px;
      text-align: center;
    }

    #passwordMessage {
      border: 1px solid #ffffff;
      border-radius: 10px;
      padding: 8px;
      background-color: #ff0000a6;
      color: white;
      font-weight: 400;
      animation: myAnim 2s ease 0s 1 normal forwards;
    }

    @keyframes myAnim {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.2;
      }

      100% {
        opacity: 1;
      }
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
  <div class="container">
    <h1>Reset Password</h1>
    <form action="/reset-password" method="POST">
      <input type="hidden" name="id" value="<%= id %>">
      <!-- <label for="password">New Password:</label>-->
      <input type="password" id="password" name="password" placeholder="Enter new password" required><br>
      <p id="passwordMessage" style="display: none;">Parola trebuie sa contina cel putin o liteara mica, o litera
        mare, nu numar si sa aibao lungime minima de 6 caractere.</p>
      <button type="submit">Reset Password</button>
    </form>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.querySelector("form");

      form.addEventListener("submit", function (event) {
        const passwordInput = document.querySelector("input[name='password']");
        const password = passwordInput.value;

        if (!isValidPassword(password)) {
          const passwordMessage = document.getElementById("passwordMessage");
          passwordMessage.style.display = "block"; // Afișează mesajul de eroare
          event.preventDefault(); // Oprirea trimiterii formularului
        }
      });
    });

    function isValidPassword(password) {
      // Definirea regulilor pentru parolă
      const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{6,}$/;

      // Verificarea dacă parola respectă regulile
      return passwordRegex.test(password);
    }

  </script>
</body>

</html>